p{  color : #ff009d;
    font-size: 2em;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow:  1px 1px 1px black;
}

.header{
    margin-top: 13%;
    margin-left: 10%;
    border:0cap solid black;
    border-radius: 10px;
    width: 30%;
    font-weight: 900;
    font-family: "Permanent Marker", cursive;
    font-size: 3em;
}
body{
    
    background-image:url("backgroundPicture/backgroundMain2.jpg") ;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.borderButton{
    border:3px solid #ff009d;
    border-radius: 10px;
    box-shadow: #ff009d 5px 5px ;
    width: 25%;
    
}
.firstButton{
    border:3px solid #ff009d;
    border-radius: 10px;
    box-shadow: #ff009d 5px 5px ;
    width: 25%;
}
a:hover {
    color: black;
}